:root {
  /* stylelint-disable-next-line property-no-unknown */
  interpolate-size: allow-keywords;
}

html {
  @media (width < 740px) {
    font-size: 56.25%;
  }
  @media (width >= 740px) {
    font-size: 62.5%;
  }
}

body {
  background: linear-gradient(
      -45deg,
      #fef9fb99 20%,
      transparent 20% 80%,
      #fef9fb99 80% 100%
    ),
    linear-gradient(
      45deg,
      #fef9fb99 20%,
      transparent 20% 80%,
      #fef9fb99 80% 100%
    ),
    linear-gradient(-45deg, #f5f5f5 33%, transparent 33% 66%, #f5f5f5 66%),
    linear-gradient(45deg, transparent 33%, #fef9fb 33% 66%, transparent 66%);
  background-color: #f5f5f5;
  background-size: 6rem 6rem;
  color: #ee99a0;
}

* {
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

article,
footer,
header,
main,
section {
  container-type: inline-size;
}

button {
  color: inherit;
}

canvas,
img,
picture,
svg,
video {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  pointer-events: none;
  shape-margin: 1rem;
  vertical-align: middle;
}

figcaption,
li,
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input,
textarea {
  min-width: 0;
}

ol,
ul {
  list-style: none;
}
